@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style  */
.display-flex {
    display: flex;
}

.text-primary {
    color: #FF900E;
}

.text-gray {
    color: #424242;
}

.text-light-gray {
    color: #727272;
    font-size: 1.5rem;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: #fff;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all .4s ease-in;
} 
.btn-primary:hover{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    color: #000;
}

main,
footer {
    max-width: 1200px;
    margin: 0 auto;
}

main>section {
    margin-top: 80px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.text-center {
    text-align: center;
}

/* header styles  */

/* navbar related style  */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}

.navbar,
.banner,
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* banner related style  */
.banner-contant {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
}

/* team and feature related style  */
.teams {
    align-items: center;
    width: 100%;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 50%;
}
.team-img-container img{
    width: 100%;
}

.our-feature {
    margin-left: 120px;
    width: 50%;

}

#quick-list {
    font-weight: 500;
}

/* feature related styel  */
.feature {
    margin-top: 70px;
    gap: 80px
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 15px;
    margin-top: 0;
}

.feature-section-subtitle {
    margin-top: 0;
}

.feature-card-container {
    width: 60%;
}

.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 16px;
    border-radius: 8px;
}

.feature-card .feature-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 0px;

}

.feature-card .feature-subtitle {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1.2rem;
}

#experience-badge {
    padding: 40px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -50px;
    margin-top: -90px;
}

#experience-year {
    font-size: 3rem;
    font-weight: 700;

}

.featured-architact img {
    width: 100%;
}


/* some facts related style  */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: j; */
}

.facts-card {
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;

}

.fact-description {
    max-width: 500px;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
}

/* sponsor related style  */
.sponsor-info {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}

.footer-contianer {
    background-color: rgba(255, 144, 14, 0.1);
    color: rgb(86, 74, 74);
    font-size: 1.5rem;
    padding: 20px 0;
    text-align: center;
    margin: 100px 0;
    border-radius: 10px;
}

/* responsive media query */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .feature,
    .teams {
        flex-direction: column;
        
    }
     .nav-links{
        gap: 20px;
        text-align: centers;
    }
    .nav-links a{
        font-size: 1.5rem;
    }

    .team-img-container,
    .facts-container,
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-img-container{
        width: 100%;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }
    .facts-card{
        width: 60%;
    }

    .sponsor-companies {
        justify-items: center;
        gap: 40px;
    }

    .our-feature {
        width: 100%;
        margin: 20px;
        text-align: center;
    }

    .our-feature button {
        margin-top: 1rem;
    }

    #feature-section-title {
        border-left: none;
        text-align: center;
    }

    .feature-title {
        font-size: 1.8rem;
    }

    .featured-architact img {
        width: 100%;
    }

    .feature-card-container {
        width: 100%;
    }

    .experience-button {
        text-align: center;
        margin-top: 25px;
    }

    .footer-contianer {
        font-size: 1rem;
    }
}


/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .navbar,
    .nav-links,
    .teams,
    .feature {
        flex-direction: column;
    }
    .nav-links {
        gap: 30px;
    }
    .nav-links a{
        font-size: 2rem;
    }

    .our-feature {
        margin: 50px 0;
        text-align: center;
    }

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 60px;
        margin: 0 auto;
    }
    .facts-card{
        width: 300px;
        height: 300px;
    }
    .facts-card img{
        width: 55%;
    }
    .fact-name{
        font-size: 2rem;
    }
    .fact-number{
        font-size: 3rem;
    }
    .team-img-container{
        width: 100%
    }

    .sponsor-companies {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    .experience-button {
        text-align: center;
        margin-top: 25px;
    }

    .feature-card-container {
        width: 100%;
        text-align: center;
    }

    #feature-section-title {
        border-left: 5px solid #FF900E;
    }
    .footer-contianer {
        font-size: 1.4rem;
    }

}